<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Deniel Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Deniel's professional website">
    <title> Contact </title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header> 
        <h1 id="webname"> Deniel Chen </h1>
        <nav>
            <a href="../index.html">about</a> |
            <a href="resume.html">resume</a> |
            <a href="contact.html">contact</a> |
            <a href="extra.html">extra</a>
        </nav>
    </header>

    <div class="mainLayout">
        <item1>
            <h2> Fine Me </h2>
            <iframe id="cmu_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.083664664916!2d-79.94840068483852!3d40.446806420808954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x9c88a1296f5f9568!2sHeinz%20College%20of%20Information%20Systems%20and%20Public%20Policy!5e0!3m2!1sen!2sus!4v1742360340305!5m2!1sen!2sus"></iframe>
        </item1>
        <item2>
            <h2> Contact Me </h2>
            <form action="/action_page.php" method="get">
                <label for="name">Name*</label><br>
                <input type="text" id="name" name="name" value="" required ><br>
        
                <label for="email">Email*</label><br>
                <input type="text" id="email" name="email" value="" required ><br>
        
                <label for="comment">Comments*</label><br>
                <input type="text" id="comment" name="comment" value="" required ><br>
        
                <input type="submit" value="Submit" onclick="submitForm()">
            </form> 
    
            <p id="form_error">Please fill out the form.</p>
        </item2>
    </div> 
        <h2> Contact Information</h2>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
        </table>
        
        <br>
        
        <footer id="copyyear" >
            Designed and coded by Deniel Chen ©  
        </footer>
</body>
</html>

