<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Deniel Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Deniel's professional website">
    <title>Contact</title>
</head>
<body style="font-family: Arial">
    <h1> 
        <header style="color:rgb(33, 33, 109); background:rgb(138, 191, 209)"> Deniel Chen 
            <nav>
                <a href="../index.html">Home</a> |
                <a href="cv.html">CV</a> |
                <a href="contact.html">Contact Me</a> |
                <a href="fun.html">For Fun</a>
            </nav>
        </header>
    </h1>
        <h2> Contact Me</h2>
        <form action="/action_page.php" method="get">
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name" value=""><br>

          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email" value=""><br>

          <label for="comment">Comments:</label><br>
          <input type="text" id="comment" name="comment" value=""><br><br>

          <input type="submit" value="Submit">

        </form> 
        
        <h2> Contact Information</h2>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
        </table>
        
        <br>
        
        <footer>
            © 2025 Designed and coded by Deniel Chen
        </footer>
</body>
</html>