<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Deniel Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Deniel's professional website">
    <title> Contact </title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header> 
        <h1 id="webname"> Deniel Chen </h1>
        <nav>
            <a href="../index.html">about</a> |
            <a href="resume.html">resume</a> |
            <a href="contact.html">contact</a> |
            <a href="extra.html">extra</a>
        </nav>
    </header>


        <h2> Contact Me</h2>
        <form action="/action_page.php" method="get">
            <label for="name">Name*</label><br>
            <input type="text" id="name" name="name" value="" required ><br>
    
            <label for="email">Email*</label><br>
            <input type="text" id="email" name="email" value="" required ><br>
    
            <label for="comment">Comments*</label><br>
            <input type="text" id="comment" name="comment" value="" required ><br>
    
            <input type="submit" value="Submit" onclick="submitForm()">
        </form> 

        <p id="form_error">Please fill out the form.</p>
        
        <h2> Contact Information</h2>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
            <tr>
                <td> deniel.chen0@gmail.com </td>
                <td> (832) 820-3364 </td>
            </tr>
        </table>
        
        <br>
        
        <footer id="copyyear" >
            Designed and coded by Deniel Chen ©  
        </footer>
</body>
</html>

