<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Deniel Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Deniel's professional website">
    <title> CV </title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header> 
        <h1 id="webname"> Deniel Chen </h1>
        <nav>
            <a href="../index.html">about</a> |
            <a href="resume.html">resume</a> |
            <a href="contact.html">contact</a> |
            <a href="extra.html">extra</a>
        </nav>
    </header>
    
    <div class="main">
        <h2> Curriculum Vitae </h2> 
        <table>
            <tr>
                <th> Name </th>
                <th> Description </th>
            </tr>
            <tr>
                <td> Deniel Chen </td>
                <td> Information Systems Major at CMU </td>
            </tr>
            <tr>
                <td> Deniel Chen </td>
                <td> Information Systems Major at CMU </td>
            </tr>
            <tr>
                <td> Deniel Chen </td>
                <td> Information Systems Major at CMU </td>
            </tr>
            <tr>
                <td> Deniel Chen </td>
                <td> Information Systems Major at CMU </td>
            </tr>
        </table>
        
        <br>

        <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
    </div>

    <br>

    <footer>
        © 2025 Designed and coded by Deniel Chen
    </footer>
</body>
</html>