* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #475fa5;
}

nav a {
    text-decoration: none;
    color: rgb(13, 44, 75);
    margin-right: 15px;
  }

th {
padding-top: 12px;
padding-bottom: 12px;
background-color:#475fa5;
color:dodgerblue;
width: fit-content;
}

table tr:nth-child(even){
    background-color:darkgray;
}

form{
    display: block;
    margin: auto;
}

#form_error {
    display: none;
    margin: auto;
}

#intro_more, #intro_less_button {
    display: none; 
}

.fun_image {
    border-radius: 25%;
    width: 500px;
    height: 500px;
}

.mainLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    
}

#adviceButton {
    background-color: #6b85d4;
    border-radius: 10px;
    width: 500px;
}   

#cmu_map {
    width: 500px;
    height: 500px;
}